@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --color-primary: #222831;
    --color-secondary: #393E46;
    --color-tertiary: #00ADB5;
    --white: #EEEEEE;
    --h0: 3.9rem;
    --h1: 3.1rem;
    --h2: 2.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--color-primary);
    color: var(--white);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
  font-size: var(--h0);
}

.heading {
  color: var(--color-tertiary);
}

.selection_button{
  background-color: var(--color-secondary);
  aspect-ratio: 1/1;
  padding: 3.2rem;
  width: 20rem;
  max-width: 100%;
  border-radius: 10%;
}

.selection_button:hover {
  background-color: var(--color-tertiary);
  cursor: pointer;
}

.iconify {
  max-width: 100%;
  height: auto;
}

/* Main CSS */

/* HEADER */
.header {
  background-color: var(--color-secondary);
  padding: 3.2rem 0;
}

/* CONTAINER */
/* score */
.score {
  margin: 3.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

/* score_total */
.total_human .text:nth-child(2){
  margin-top: 1.6rem;
  text-align: left;
}

.total_computer .text:nth-child(2){
  margin-top: 1.6rem;
  text-align: right;
}

/* score_current */
.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

/* user selection */
.userChoice {
  margin: 6.4rem 0;
}
/* again */
.again {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  gap: 1.6rem;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  padding: 1.6rem 3.2rem;
}

.again:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  cursor: pointer;
}